# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code / Cursor IDE
.vscode/
.cursor/

# Obsidian
.obsidian/

# OS-level
Thumbs.db

# personal dev files
notes.md